In [61]:
import pandas as pd

In [72]:
df = pd.read_json("JKS_tweets_final.json")

In [74]:
df.shape

(9745, 2)

In [57]:
df[['date', 'text']] = df['tweets'].str.split(',', 1).apply(pd.Series)

# Remove any leading/trailing whitespace from the 'date' and 'text' columns
df['date'] = df['date'].str.strip()
df['text'] = df['text'].str.strip()

/var/folders/rs/hrmdwl7s0x91vr68k48hckvr0000gn/T/ipykernel_3328/409766540.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'text']] = df['tweets'].str.split(',', 1).apply(pd.Series)

ValueError: Columns must be same length as key

In [43]:
df = pd.DataFrame(file_content, columns=['datetime', 'message'])

ValueError: DataFrame constructor not properly called!

In [26]:
df1 = pd.read_csv("JKS_tweets.csv", on_bad_lines="skip",sep=",")

In [27]:
df1.shape

(2542, 2)

In [28]:
df.shape

(9731, 2)

In [29]:
df = df[df.postDate != "postDate"]

In [30]:
df = df.iloc[:,:2]

In [31]:
df.dropna(subset=['postDate'])

,postDate,tweetText
0,2019-12-31T16:18:19.000Z,"PM's getting back to ""even weight"
1,2019-11-29T14:30:03.000Z,Fly Intel: Pre-market Movers $TECD $APO $BRK.A...
2,2019-11-29T14:09:18.000Z,Watchlist 11-29-19: pathetic list to say the l...
3,2019-11-29T13:05:23.000Z,$JKS JinkoSolar Supplies 300MW of High-Efficie...
4,2019-11-29T13:00:06.000Z,$OPRA News Article - Opera Limited to particip...
...,...,...
9731,2013-01-02T11:25:37.000Z,China's November Solar Shipments Add Concerns ...
9732,2013-01-01T12:30:43.000Z,$JKS Stock under $10 - Stock Analysis emini tr...
9733,2012-12-31T16:30:40.000Z,$JKS Stock under $10 - Stock Analysis swing tr...
9734,2012-12-31T12:46:06.000Z,$JKS - JinkoSolar Holding Stock Analysis - bes...
9735,2012-12-31T11:55:07.000Z,$JKS - JinkoSolar Holding Stock Analysis - - ...

In [32]:
df1_sorted = df.sort_values('postDate')
df2_sorted = df1.sort_values('postDate')

In [33]:
df1_sorted

,postDate,tweetText
9735,2012-12-31T11:55:07.000Z,$JKS - JinkoSolar Holding Stock Analysis - - ...
9734,2012-12-31T12:46:06.000Z,$JKS - JinkoSolar Holding Stock Analysis - bes...
9733,2012-12-31T16:30:40.000Z,$JKS Stock under $10 - Stock Analysis swing tr...
9732,2013-01-01T12:30:43.000Z,$JKS Stock under $10 - Stock Analysis emini tr...
9731,2013-01-02T11:25:37.000Z,China's November Solar Shipments Add Concerns ...
...,...,...
4,2019-11-29T13:00:06.000Z,$OPRA News Article - Opera Limited to particip...
3,2019-11-29T13:05:23.000Z,$JKS JinkoSolar Supplies 300MW of High-Efficie...
2,2019-11-29T14:09:18.000Z,Watchlist 11-29-19: pathetic list to say the l...
1,2019-11-29T14:30:03.000Z,Fly Intel: Pre-market Movers $TECD $APO $BRK.A...
0,2019-12-31T16:18:19.000Z,"PM's getting back to ""even weight"

In [34]:
df2_sorted

,postDate,tweetText
2018-11-27T07:05:03.000Z,#BalanceofSystems #Installations Bifacial boos...,NaN
2019-12-11T10:39:24.000Z,#Chinese module manufacturer JinkoSolar to est...,NaN
2019-02-27T08:52:03.000Z,#Employment #Markets Inside JinkoSolar’s US fa...,NaN
2019-07-20T12:22:12.000Z,#EquityResearch firms playing us? July 18: “Ji...,NaN
2018-11-26T12:31:04.000Z,#Finance #financialresults JinkoSolar posts si...,NaN
...,...,...
2019-03-06T11:58:08.000Z,via @SolarIndustry: Hanwha Q CELLS Files Paten...,LONGi Solar And REC Group ☼ #buildingabrillia...
2019-11-21T13:04:04.000Z,wikifolio whispers p.m. zu Uniper; Rheinmetall...,Inc.; Biofrontera; Celgene; Wirecard; JinkoSo...
2018-10-20T07:15:55.000Z,‘Silicon Module Super League’ (SMSL) leader #J...,#China. Huaneng Renewables had no… https://...
2019-01-17T16:00:38.000Z,“An Asian consortium consisting of #JinkoSolar...,making it the lowest ever levelised cost of e...
2019-05-01T17:13:12.000Z,▶︎ JinkoSolar sets solar panel order intake re...,NaN

In [20]:
merged_df = pd.merge_ordered(df1_sorted, df2_sorted, on='postDate')

In [21]:
merged_df['postDate'] = merged_df['postDate'].str.extract(r'(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z)')

In [23]:
merged_df

      postDate tweetText_x                                        tweetText_y
0          NaN         NaN                                                NaN
1          NaN         NaN                                                NaN
2          NaN         NaN                                                NaN
3          NaN         NaN                                                NaN
4          NaN         NaN                                                NaN
...        ...         ...                                                ...
12268      NaN         NaN   LONGi Solar And REC Group ☼ #buildingabrillia...
12269      NaN         NaN   Inc.; Biofrontera; Celgene; Wirecard; JinkoSo...
12270      NaN         NaN    #China.  Huaneng Renewables had no… https://...
12271      NaN         NaN   making it the lowest ever levelised cost of e...
12272      NaN         NaN                                                NaN

[12273 rows x 3 columns]

In [22]:
undesired_expr = r'(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z)'
undesired_rows = merged_df['tweetText'].str.contains(undesired_expr, na=False)

KeyError: 'tweetText'

In [15]:
df = df[~undesired_rows]

In [19]:
df.shape

(378636, 4)

In [20]:
df.to_parquet('morgan_stanley_tweets')