In [2]:
import pandas as pd

In [19]:
df = pd.read_csv("stanley.csv")

/var/folders/rs/hrmdwl7s0x91vr68k48hckvr0000gn/T/ipykernel_1948/3979826597.py:1: DtypeWarning: Columns (14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("stanley.csv")

In [20]:
df = df.iloc[:,:4]

In [21]:
df.tail()

,username,handle,postDate,tweetText
372924,Sonething News,NaN,2016-02-24T19:35:21.000Z,GM
372925,MarketBeat,NaN,2016-02-24T19:34:04.000Z,CSX downgraded by Morgan Stanley to underweigh...
372926,Jacqueline Franchet,/status/702576550609293320,2016-02-24T19:32:51.000Z,RT https://twitter.com/RWSolutionsInc/status/7...
372927,Karthikeyan L,NaN,2016-02-24T19:32:36.000Z,GM
372928,newsaiya,12/,2016-02-24T19:32:34.000Z,GM

In [15]:
df = df[df.postDate != "postDate"]

In [18]:
df.dropna(subset=['postDate'])

,username,handle,postDate,tweetText
0,ELITETRADER.RU,NaN,2019-12-30T23:47:02.000Z,Morgan Stanley преодолел психологическое сопро...
1,Jorge Gálvez Gajardo,/articulo/cual-es-el-la-fintech-colombiana-en-...,2019-12-30T23:43:14.000Z,La fintech colombiana en la que invertirá Morg...
2,Suzanne Ritchey,NaN,2019-12-30T23:37:11.000Z,Good time to invest
3,evergreen,NaN,2019-12-30T23:32:44.000Z,The article is about Yang's failed startup Ven...
4,Rauschenbusch Metro Ministries,NaN,2019-12-30T23:15:09.000Z,Another fun holiday memory - The Page Turners ...
...,...,...,...,...
284456,Brent Schneider,NaN,2016-10-26T18:00:24.000Z,Morgan Stanley: Get Used To Low Returns And Bu...
284457,Brent Schneider,NaN,2016-10-26T18:00:24.000Z,Will Morgan Stanley (NYSE:MS) be growing after...
284458,Financial GamblR,NaN,2016-10-26T17:59:06.000Z,RT Brexit: There's nothing good about Brexit
284459,BRYCE WARD,/791337535565889536,2016-10-26T17:56:14.000Z,#toSEARCH RT Brexit: There's nothing good abou...
284460,e-Placement Scotland,lyst-placement-west-scotland-741.aspx,2016-10-26T17:56:09.000Z,Summer Analyst Placement with Morgan Stanley. ...

In [9]:
df = df.dropna(subset=["postDate"])

In [11]:
df.shape

(1485, 4)